button{
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 0.1em;
    font-size: var(--middle-text);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    transform: scale(1.1);
}

.button-black{
    color:white;
    background-color: black;
}
.button-white{
    color: #000000;
    background-color: #ffffff;
}
.button-white:hover{
    color: #ffffff;
    background-color: #000000;
    transform:scale(1.05);
}
.button-green{
    color:white;
    background-color: #28a745;
    border:none;
}